<% if team.pitchers.empty? %>
      <p>The <%= team.name %> have no flamethrowers!</p>
  <% else %>
    <p>Pitchers:</p>
    <p>
      <% team.pitchers.each do |pitcher| %>
        <%= pitcher.first %> <%= pitcher.last %><br/>
        Number of times leading the league: <%= pitcher.pitches.size %><br/>
      <% end %>
    </p>
  <% end %>