<div class="text-center">
  <h1 style="color: #bc131a">About</h1>
</div>
<div class="span6 offset3 text-center" style="text-align: justify" line-height="1.62">
Daily Pitches displays the fastest pitch from the previous day's action in Major League Baseball. The site began as a project for my web development class at General Assembly, and I hope to continue its improvement and add new features. Daily Pitches is built with Ruby on Rails, and uses Nokogiri to scrape pitch data from MLBAM. I built the site in a week, and as such it is liable to be filled with bugs. If you find any, or have suggestions for improvement, please tweet me at @DailyPitches!
</div>