<div class="push" style="padding: 40px"></div>
<div class="text-center" style="font-size: 200%">
<p>Yesterday's fastest pitch was</p>
<p style="font-size: 700%; color: #bc131a; padding: 90px"><%= @pitch.mph %></p>
<p style="font-size: 125%; padding-bottom: 2px">MPH</p>
<p>thrown by <%= @pitch.pitcher.first %> <%= @pitch.pitcher.last %>, <%= @pitch.pitcher.team.abbreviation %></p>
</div>