<div class="text-center">
<p>The All-Star Game's fastest pitch was</p>
<p><%= @pitch.mph %></p>
<p>MPH</p>
<p>thrown by <%= @pitch.pitcher.first %> <%= @pitch.pitcher.last %>, <%= @pitch.pitcher.team.abbreviation %>.</p>
</div>